# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
db.sqlite3

# Visual Studio Code #
.vscode/
.history

# Mypy
.mypy_cache/

# Sphinx
/pdf-generator-web-app/docs/_build/

# My Stuff
/pdf-generator-web-app/.env
/pdf-generator-web-app/.envs/*
!/pdf-generator-web-app/.envs/.local/
pdfgen/media/